<tr>
	<td style="background-color: {{brandColor}}; padding: 30px; text-align: center; border-radius: 8px 8px 0 0;">
		<h1 style="margin: 0; color: #ffffff; font-size: 24px; font-weight: 600;">
			{{brandName}}
		</h1>
	</td>
</tr>